{% extends 'base.html' %}
{% block title %}
Homepage
{% endblock %}

{% block content %}
<div class="row">
    <h3 class="text-center">Top Gainers Today</h3>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Change</th>
                <th scope="col">Percent Change</th>
                <th scope="col">Volume</th>
                <th scope="col"> Average Volume</th>
                <th scope="col">Market Cap</th>
                <th scope="col">PE Ratio</th>
            </tr>
        </thead>
        <tbody>
            {% for gainer in gainers %}
            <tr>
                <th scope="row">1</th>
                {% for value in gainer.values %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        // location.reload(70000);
        setTimeout(function () {
            window.location.reload(1);
        }, 9000);
    </script>

</div>
<div class="row row-cols-3 row-cols-md-4 g-4">
    {% for sell in sell_list %}
    <div class="col">
        <div class="card mx-1 card text-white bg-secondary mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ sell.stock.name}}</h5>
                <h5 class="card-title">{{ sell.stock.price}}</h5>

                <h6 class="card-subtitle mb-2 text-white"> Offered by : {% if user == sell.profile.user %} You
                    {% else %}
                    {{ sell.profile.user }}
                    {% endif %} </h6>
                <p class="card-text"></p>
                <a href="{% url 'sell' sell.pk %}" class="card-link">Sale Details</a>
                {% if sell.profile.user != user %}
                <a href="{% url 'offer' sell.pk %}" class="card-link">Buy</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}