{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
{% endblock %}

{% block content %}
<h2>Profile Details</h2>

<div class="card mx-1 card text-white bg-secondary mb-3 card border-light" style="width: 18rem;">
    <div class="card-body card-subtitle mb-2 text-white">
        <ul>
            <li> Username: {{profile.user.username}}
            </li>
            <li> First Name: {{profile.user.first_name}}
            </li>
            <li> Last Name: {{profile.user.last_name}}
            </li>
            <li> Email: {{profile.user.email}}
            </li>
            <li> My Balance: ${{profile.money}}
            </li>
        </ul>

    </div>
</div>
<h2>My Stocks</h2>
<div class="row">

    {% for stock in profile.portfolio.all%}
    <div class="card mx-1 card text-white bg-secondary mb-3 card border-light" style="width: 18rem;">
        <div class="card-body card-subtitle mb-2 text-white">
            <h5 class="card-title card-subtitle mb-2 text-white">Stock: {{stock.name}}</h5>
            <h6 class="card-subtitle mb-2 text-white">Price: {{stock.price}}</h6>
            {% if user.profile == profile %}
            <a href="{% url 'newsale' stock.id %}" class=" btn btn-dark">Sell</a>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>
<div class="row">
    <h2>Offers Made on My Sales</h2>
    {% for sale in profile.sales_with_offers %}
    {% for buy in sale.buy_set.all %}
    <div class="card mx-1 card text-white bg-secondary mb-3 card border-light">
        <div class="card-body">
            {% if not buy.stock.all.exists %}
            <h5 class="card-title">Offer Made With Money</h5>
            <h5 class="card-title">Price:{{ buy.sell.stock.price}}</h5>
            {% else %}
            {% for s in buy.stock.all %}
            <h5 class="card-title">Stock:{{ s.name}}</h5>
            <h5 class="card-title">Price:{{ s.price}}</h5>
            {% endfor %}
            <div>
                <a href="{% url 'handleoffer' buy.id 'accept' %}" class="btn btn-success">Accept</a>
                <a href="{% url 'handleoffer' buy.id 'reject' %}" class="btn btn-danger">Reject</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}