{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
User | Signup
{% endblock %}

{% block content %}
<h1 class="text-center">Welcome to MI Stock Trade App</h1>
<ul>
    <h3>This is a trading simulation where you can: </h3>
    <li> put money into the game </li>
    <li> receive 10 complimentary stocks upon signing up </li>
    <li> trade or buy other users' stocks </li>
</ul>
<h3>Enjoy!</h3>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
</form>
{% endblock %}