{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
User | Signup
{% endblock %}

{% block content %}
<h1>Welcome to MI Stock Trade App</h1>
<h3>This is a trading simulation where you can
    - put money into the game
    - receive 10 complimentary stocks upon trading
    - trade or buy other users' stocks
</h3>
<h3>Enjoy!</h3>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
</form>
{% endblock %}